.App {
  text-align: center;
}

table {
    border: 3px solid #2196f3;
    border-radius: 5px;
    padding: 20px;
}
table td {
    padding: 10px;
}
thead {
    margin-bottom: 20px;
}
thead tr {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
thead td {
    border-bottom: 3px dotted #2196f3;
}
tbody tr:nth-child(even) {
    background: #2196f310;
}
